@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0; 
}
html, body{
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 3.667vw;
    height: 8vh;
    align-items: center;
    font-family: 'Bebas Neue';
}
.logo{
    font-family: Bebas Neue;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
}
a{
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
    color: black;
    padding: 0 1vw;
}
a:hover{
    text-shadow:-2px 2px 4px #322154;
}
.border{
    border: 0.5px solid black;
}
.content{
    width: 100%;
    height: auto;
    padding: 0 3.667vw;
}
.landing_1{
    width: 93.333vw;
    height: auto;
    padding: 2vw 0;
    text-align: center;
}
.landing_1 > h1{
    font-family: Bebas Neue;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.02em;
    padding: 7.5vh 0 4vh 0;
}
h1:hover{
    animation: ease-in-animation 1s forwards;
    background-color: #000000;
    color: white;
}
@keyframes ease-in-animation {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.one{
    margin-top: 5vh;
    width: 93.333vw;
    height: auto;

}
.landing_2{
    width: 93.333vw;
    height: auto;
    margin-top: 7vh;
}
.project{
    max-width: 28.889vw;
    height: auto;
    margin: 2vh 0;
}
.landing_2_text{
    display: flex;
    justify-content: space-between;
}
.landing_3_text{
    display: flex;
    justify-content: space-between;
}
.img{
    width: 28.889vw;
}
.Project{
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
p{
    font-family: Roboto Mono;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.contact_me{
    display: flex;
    justify-content: space-between;
    width: 93.333vw;
    margin: 3.333vw 0;
}
.cont{
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 45.556vw;
}
.des{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 44.444vw;
    text-align: left;
    margin: 0 2vw 0 8vw;
}
.landing_4{
    width: 93.333vw;
    height: 48.611vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_form{
    width: 27.778vw;
    text-align: center;
}
.contact_content{
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
}
.inputs{
    display: flex;
    gap: 0.5vw;
    justify-content: center;
    margin: 1.5vh 1.111vw 1.5vh 1.111vw;
}
input{
    width: 3.444vw;
    height: 5.889vh;
    border-radius: 8px;
    text-align: center;
    box-shadow: -2px 2px 4px #322154;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.submit{
    width: 25.778vw;
    height: 3.5vh;
    margin: 1.5vh 1.111vw 1.5vh 1.111vw;
    border-radius: 8px;
    background-color: black;
    color: white;
}
.skip{
    border-style: none;
    background-color: white;
    padding-top: 2%;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.submit:hover{
    cursor: pointer;
    background-color: #a272fa;
    color: black;
}
.skip{
    border-style: none;
    background-color: white;
    padding-top: 2%;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
footer{
    width: Fixed (1,440px)px;
    height: auto;
    padding: 0px 48px 0px 48px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
.follow{
    width: Hug (349px)px;
    height: Hug (48px)px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.follow:hover{
    background-color: #a272fa;
    color: white;
    border: 1px solid #000000;
    cursor: pointer;
}
img:hover{
    cursor: pointer;
    scale: 103%;
    transition: 1s;
    border-radius: 10px;
    box-shadow: -5px 5px 4px #000000;
}